img {
   
   height: 17%;
   width: 17%;
   
  }
   
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 13%;
}

.right {
  width: 10%;
}
 
.righter {
   width: 16%;
   background-color: rgb(202,202,202);
 }
 
.row:after {
  content: "";
  display: table;
  clear: both;
